body{
    font-family: Arial;
    background:#eef5ff;
    padding:30px;
    text-align:center;
    transition:0.4s;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

h1{
    color:#003366;
}

.form{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:center;
    margin-top:30px;
}

input{
    width:260px;
    padding:12px;
    border-radius:10px;
    border:1px solid gray;
}

button{
    padding:12px 20px;
    border:none;
    background:#0066cc;
    color:white;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

#result{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:15px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0 0 10px gray;
    animation:fadeIn 1s;
}

.chart-container{
    width:70%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:15px;
}

.ranking{
    margin-top:40px;
}

.ranking table{
    width:60%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

.ranking th,
.ranking td{
    border:1px solid gray;
    padding:15px;
}

.chatbot{
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:15px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

#chatbox{
    margin-bottom:20px;
    padding:15px;
    background:#f3f3f3;
    border-radius:10px;
}

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode #result,
.dark-mode .chart-container,
.dark-mode .chatbot,
.dark-mode table{
    background:#1f1f1f;
    color:white;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}